In [47]:
import pandas as pd 
from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://simplon:simplon@localhost/exo_netflix')

df = pd.read_csv("/home/wathelet/projet_data/Pandas_Netflix/netflix_titles.csv")

#df = df.drop_duplicates(subset=df.columns[1:])

#df=id/categorie
cat_name = pd.DataFrame(data = df,columns = ["ca_id", "cat_name"])
cat_name.dropna(inplace=True)
cat_name.drop_duplicates(inplace=True)


#df=id/cast
cast = pd.DataFrame(data = df,columns = ["ca_id", "cast_name"])
cast.dropna(inplace=True)
cast.drop_duplicates(inplace=True)

#df=id/director
directors = pd.DataFrame(data = df,columns = ["ca_id", "dir_name"])
directors.dropna(inplace=True)
directors.drop_duplicates(inplace=True)

#df=id/country
country = pd.DataFrame(data = df,columns = ["ca_id", "co_name"])
country.dropna(inplace=True)
country.drop_duplicates(inplace=True)

#fonction split 
def separator(id, column, column_name):
    c = 0
    liste_id = []
    liste_col = []
    for i in column:
        x = i.split(", ")
        for z in x:
            liste_col.append(z)
            liste_id.append(id[c])
        
        c+=1
    dataframe = pd.DataFrame({'ca_id':liste_id, column_name: liste_col}, columns = ['ca_id', column_name])
    return dataframe 





#dataframe id/catégories
cat_id=separator(cat_name['ca_id'], cat_name['cat_name'], 'cat_name')
#dataframe id/cast
cast_id=separator(cat_name['ca_id'], cast['cast_name'], 'cast_name')
#dataframe id/directors
dir_id=separator(cat_name['ca_id'], directors['dir_name'], 'dir_name')
#dataframe id/country
country_id=separator(cat_name['ca_id'], country['co_name'], 'co_name')


def table(df, column ,id): #formatage table
    data = df.drop_duplicates(subset=[column]).reset_index().rename(columns={"index": id})
    del data['ca_id']
    print(data)
    return data

def associationTable(df_base, df, column ,id): #formatage table association
    data= df.merge(df_base, left_on=column, right_on= column)
    data = data.rename(columns={"ca_id_x": "ca_id"})
    del data[column]
    print(data)
    return data


#table categorie catalogue
categories = table(cat_id, "cat_name", "cat_id")
cat_categories = associationTable(categories, cat_id, "cat_name", "cat_id")
cat_categories.drop_duplicates(inplace=True)

#table country catalogue
country = table(country_id, "co_name", "co_id")
cat_country = associationTable(country, country_id, "co_name", "co_id")
cat_country.drop_duplicates(inplace=True)

#table cast catalogue
cast = table(cast_id, "cast_name", "cast_id")
cat_cast = associationTable(cast, cast_id, "cast_name", "cast_id")
cat_cast.drop_duplicates(inplace=True)

#table dir catalogue
dir = table(dir_id, "dir_name", "dir_id")
cat_dir = associationTable(dir, dir_id, "dir_name", "dir_id")
cat_dir.drop_duplicates(inplace=True)

#table catalogue
del df['cat_name']
del df['dir_name']
del df['cast_name']
del df['co_name']
del df['Unnamed: 12']




#changement type durée et date ajout

df['ca_duration'] = df['ca_duration'].str.replace(" min", "").str.replace(" Season", "").str.replace(" season", "").str.replace("s", "").astype(int)
df['ca_date']=pd.to_datetime(df['ca_date'])



#insertion tables

df.to_sql('catalogue', con=engine, if_exists='append', index=False)
country.to_sql('country', con=engine, if_exists='append', index=False)
cast.to_sql('actor', con=engine, if_exists='append', index=False)
dir.to_sql('directors', con=engine, if_exists='append', index=False)
categories.to_sql('category', con=engine, if_exists='append', index=False)



#insertion tables d'association

cat_country.to_sql('country_catalogue', con=engine, if_exists='append', index=False)
cat_cast.to_sql('actor_catalogue', con=engine, if_exists='append', index=False)
cat_dir.to_sql('directors_catalogue', con=engine, if_exists='append', index=False)
cat_categories.to_sql('category_catalogue', con=engine, if_exists='append', index=False)

    cat_id                      cat_name
0        0      Children & Family Movies
1        1                      Comedies
2        2               Stand-Up Comedy
3        3                      Kids' TV
4        6                Crime TV Shows
5        7        International TV Shows
6        8     Spanish-Language TV Shows
7        9          International Movies
8       10              Sci-Fi & Fantasy
9       11                     Thrillers
10      13                    Docuseries
11      14           Science & Nature TV
12      15            Action & Adventure
13      19                        Dramas
14      28                   Cult Movies
15      30            Independent Movies
16      33               Romantic Movies
17      37                 Documentaries
18      38                 Horror Movies
19      46             Romantic TV Shows
20      47                   TV Comedies
21      77                     TV Dramas
22      78                  TV Thrillers
23     129                  TV Mysteries
24     143              British TV Shows
25     172              Music & Musicals
26     188                    Reality TV
27     202         TV Action & Adventure
28     214                Anime Features
29     219                 Teen TV Shows
30     228          Faith & Spirituality
31     305               Korean TV Shows
32     310                  Anime Series
33     337                  LGBTQ Movies
34     346                     TV Horror
35     435                        Movies
36     531  Stand-Up Comedy & Talk Shows
37     579           TV Sci-Fi & Fantasy
38     649                Classic Movies
39     683                 Sports Movies
40    2457                      TV Shows
41    3952             Classic & Cult TV
          ca_id  cat_id
0      81145628       0
1      80182480       0
2      80182483       0
3      80182596       0
4      80182482       0
...         ...     ...
13665  80023876    3952
13666  70142437    3952
13667  70140450    3952
13668  70153412    3952
13669  70153404    3952

[13670 rows x 2 columns]
     co_id         co_name
0        0   United States
1        1           India
2        2     South Korea
3        3           China
4        4  United Kingdom
..     ...             ...
108   5783         Bermuda
109   5784         Ecuador
110   6034           Syria
111   6037          Kuwait
112   7163          Cyprus

[113 rows x 2 columns]
         ca_id  co_id
0     81145628      0
1     70234439      0
2     80058654      0
3     80125979      0
4     70304989      0
...        ...    ...
7174   1153656   5783
7175   1153656   5784
7176  81016192   6034
7177  81016192   6037
7178  70264612   7163

[7179 rows x 2 columns]
       cast_id         cast_name
0            0     Alan Marriott
1            1       Andrew Toth
2            2      Brian Dobson
3            3       Cole Howard
4            4  Jennifer Cameron
...        ...               ...
27400    44300   Rosie Cavaliero
27401    44301  Vicki Pepperdine
27402    44302   Margaret Clunie
27403    44303         Tim Steed
27404    44309     Matthew Perry

[27405 rows x 2 columns]
          ca_id  cast_id
0      81145628        0
1      80176144        0
2      70270773        0
3      81145628        1
4      81167047        1
...         ...      ...
44306  80201680    44300
44307  80201680    44301
44308  80201680    44302
44309  80201680    44303
44310  80158516    44309

[44311 rows x 2 columns]
      dir_id          dir_name
0          0      Richard Finn
1          1        Tim Maltby
2          2  Fernando Lebrija
3          3       Gabe Ibáñez
4          4      Rodrigo Toro
...      ...               ...
3650    4843       James Hawes
3651    4844        Jung-ah Im
3652    4845       Seung-uk Jo
3653    4846   Andy Devonshire
3654    4851         Onur Ünlü

[3655 rows x 2 columns]
         ca_id  dir_id
0     81145628       0
1     81145628       1
2     80060034       1
3     80117401       2
4     70234439       3
...        ...     ...
4847  81029647    4844
4848  81045509    4844
4849  81029647    4845
4850  81026251    4846
4851  81045510    4851

[4852 rows x 2 columns]